@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: #18191f;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
  border: none;
}

.input-wrapper {
  display: flex; /* Display input and button inline */
  gap: 10px; /* Add some spacing between input and button */
}

.input-container input {
  border: none;
  outline: none;
  background: none;
}


ul {
  position: relative;
  display: none;
}

li {
  list-style: none;
}

div {
  position: relative;
  height: 80px;
  width: 80px;
  background: #18191f;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  cursor: pointer;
  margin: 0 4px;
  border-radius: 20px;
  box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
    4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.05),
    inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}

div.clicked {
  color: #ff00ff;
  text-shadow: none;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
    inset 4px 4px 6px rgba(0, 0, 0, 0.2),
    0 0 25px rgba(255, 0, 0, 0.9),
    0 0 35px rgba(0, 255, 0, 0.9);
  animation: glow 1.5s linear infinite, rainbow-glow 2s linear infinite;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes rainbow-glow {
  0%, 100% {
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
                inset 4px 4px 6px rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
                inset 4px 4px 6px rgba(0, 0, 0, 0.2),
                0 0 25px rgba(255, 0, 0, 0.9),
                0 0 35px rgba(0, 255, 0, 0.9);
  }
}

/* Additional CSS to hide the div initially */
.hide {
  display: none;
}

/* Default styles for larger screens */
body {
  /* ... */
}

.input-container {
  /* ... */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  body {
    /* Adjust styles for smaller screens */
  }

  .input-container {
    /* Adjust styles for smaller screens */
  }
}